<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.willing.android.timeofgun" >


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <meta-data android:value="tengxun" android:name="BMOB_CHANNEL"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="cn.bmob.v3.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <activity
            android:name=".activity.LoginOrSignupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:windowSoftInputMode="stateAlwaysVisible"
            android:parentActivityName=".activity.LoginOrSignupActivity" >

            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.willing.android.timeofgun.activity.LoginOrSignupActivity" />
        </activity>
        <activity
            android:name=".activity.SignupActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:windowSoftInputMode="stateAlwaysVisible"
            android:parentActivityName=".activity.LoginOrSignupActivity" >

            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.willing.android.timeofgun.activity.LoginOrSignupActivity" />
        </activity>
        <activity
            android:name=".activity.UserActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            >
        </activity>
        <activity android:name=".activity.CatelogPickerActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            />
        <activity android:name=".activity.AddCatelogActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            />
        <activity android:name=".activity.AddEventActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            />
        <activity android:name=".activity.ManageCatelogActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            />
        <activity android:name=".activity.ModifyCatelogActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            />
        <activity android:name=".activity.ModifyEventActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            />
    </application>

</manifest>
